<!-- body {font-family: Gill Sans, Helvetica, sans-serif;} --> body {font-family: "Lucida Console", monospace;} .sidenav {
  height: 100%;
  width: 125px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4a4a4a;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: 1.3em;
}
.main {font-size: 1.2em;
}
div.a {
  position: sticky;
  right: 220px;
  top: 200px;
  bottom: 100px;
  width: 600px;
  height: 60%;
} 
div.b {
  position: fixed;
  left: 2px;
  top: 130px;
  bottom: 100px;
  width: 450px;
  height: 45%;
} 
div.c {
    position: fixed;
    bottom: 0;
    width: 100%;
}
div.d {
  position: sticky;
  top: 345px;
  bottom: 100px;
  width: 240px;
  height: 50%;
  margin-left:420px;
  margin-right:auto;
  clear:left;
  text-align:center;
} 
div.e {
  position: fixed;
  top: 275px;
  bottom: 20px;
  width: 450px;
  height: 15%;
  margin-left:275px;
  text-align:center;
} 
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 1.1em;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 1.6em;
}
.modal { 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
  font-size: 1.1em;
}
.Fixed
{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color:#000000;
    color:#dddddd;
}
input[type="text"]
{
    font-size:23px;
    font-family: Lucida Console, Courier, monospace;
}
input[type="number"]
{
    font-size:23px;
    font-family: Lucida Console, Courier, monospace;
}
select
{
    font-size:23px;
}
table tr#divider  {background-color:#000000;}
table tr#ROW1  {background-color:#dddddd;}
table tr#ROW2  {background-color:#dddddd;}
table tr#ROW3  {background-color:#dddddd;}
table tr#ROW4  {background-color:#dddddd;}
table tr#ROW5  {background-color:#dddddd;}
table tr#ROW6  {background-color:#dddddd;}
table tr#ROW7  {background-color:#F7A33B;}
table tr#des  {font-size:0.7em;}
div#info1  {background-color:#F2EE79;}
div#info2  {background-color:#F2EE79;}
div#info3  {background-color:#F2EE79;}
div#info4  {background-color:#F2EE79;}
#overlay {
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#000000; 
  z-index: 2; 
  cursor: pointer; 
  font-size: 1.7em;
  color:#dddddd;
}
#overlay1 {
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#ffffff; 
  z-index: 2; 
  cursor: pointer; 
  font-size: 1.7em;
  color:#dddddd;
}
#overlay2 {
  
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#000000; 
  z-index: 2; 
  cursor: pointer; 
  font-size: 1.7em;
  color:#dddddd;
}
input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size:15px;
}
.username{width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;}
.greenfield {background-color: #00A146;}
.yellowfield {background-color: #EEF52C;}
.redfield {background-color: #F71302;}
.grayfield {background-color:#dddddd;}
.orangefield {background-color:#fc7f03;}
.bluefield {background-color:#0202fa;}
.purplefield {background-color:#e605ff;}
.torqfield {background-color:#05ffd1;}
.limegreenfield {background-color:#82ff05;}
.pinkfield {background-color:#ff8cea;}
.peachfield {background-color:#f0c3a3;}
.button {font-size: 16px;}
.submitbutton {
background-color: #00A146;
}
.bigbutton {font-size: 20px;
padding: 15px 32px;
background-color: #dddddd;
}
.biggerbutton {
font-size: 2em;
	font-weight: bold;
	padding: 1em;
	color: #fff;

	background-size: 200% 100%;
	background-image: linear-gradient(to right, #066ea8 50%, red 50%);
	-webkit-transition: background-position 3s;
	-moz-transition: background-position 3s;
	transition: background-position 3s ease-in;
}
.buttontext {font-size:0.4em;}
input.largerCheckbox
{
width: 30px;
height: 30px;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#frame {
 width: 420px;
 height: 150px; 
 overflow:hidden;
 position:relative;
}
#bottomframe {
 width: 400px;
 height: 100px;
 position:absolute;
 top:53px;
 left:11px;
 background-color:#F2EE79;
}
#leftframe {
 width: 45px;
 height: 150px;
 position:absolute;
 top:3px;
 left:10px;
 background-color:#F2EE79;
}
#rightframe {
 width: 14px;
 height: 150px;
 position:absolute;
 top:3px;
 right:10px;
 background-color:#F2EE79;
}
#topframe {
 width: 420px;
 height: 26px;
 position:absolute;
 top:0px;
 background-color:#F2EE79;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color:#444;
}
.input-container{
    width: 250px;
    border: 1px solid #a9a9a9;
    display: inline-block;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    width: 80%;
    border: none;
}

.input-container button {
    float: right;
    font-size: 20px;
    padding: 15px 32px;
    background-color: #dddddd;
}
.grid-container {
  display: block;
  left: auto;
  margin-right:100px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns: auto auto;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}
#tripdesc{  
    position:relative;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:35px;
    margin-right:auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}
#submit-mbhydrohaulage{
background-color: #ed98b1;
}
#endtrip-mbhydrohaulage{
background-color: #7293a6;
}
.starttripbutton{
font-size: 24px;
padding: 0.005px 175px;
width: 55%;
background-color: #a1ffbd;
border-color: #224cb5;
text-align:center;
}
.activitybutton{
font-size: 30px;
padding: 25px 35px;
background-color: #97a5d1;
border-color: #224cb5;
left: 0px;
}
.widthbutton{
padding: 0.005px 175px;
width: 55%;
}
.endactivitybutton{
padding: 15px 32px;
text-align: center;
}
.canceltripbutton{
border-color: #224cb5;
padding: 0.005px 175px;
}
